<ion-app>
  <ion-menu *ngIf="!isAdminRoute()" side="start" [menuId]="menuId" [contentId]="contentId" class="app-sidebar">
  <ion-header>
    <ion-toolbar class="app-sidebar__header">
      <div class="app-sidebar__brand">
        <div class="app-sidebar__brandMark">
          <ion-icon name="scan-outline"></ion-icon>
        </div>
        <div class="app-sidebar__brandText">
          <div class="app-sidebar__title">EduScan</div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="app-sidebar__content">
    <div class="app-sidebar__profile">
      <div class="app-sidebar__avatar" [class.app-sidebar__avatar--image]="profilePhotoUrl" [style.backgroundImage]="profilePhotoUrl ? 'url(' + profilePhotoUrl + ')' : null">
        <span *ngIf="!profilePhotoUrl">{{ currentUser?.name?.charAt(0)?.toUpperCase() }}</span>
      </div>
      <div class="app-sidebar__profileInfo">
        <div class="app-sidebar__name">{{ currentUser?.name }}</div>
        <div class="app-sidebar__email">{{ currentUser?.email }}</div>
      </div>
    </div>

    <ion-list class="app-sidebar__list">
      <ion-item button class="app-sidebar__item" [class.app-sidebar__item--active]="activePage === 'dashboard'" (click)="goTo('/teacher-dashboard')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>

      <ion-item button class="app-sidebar__item" [class.app-sidebar__item--active]="activePage === 'classes'" (click)="goTo('/class-list')">
        <ion-icon name="folder-outline" slot="start"></ion-icon>
        <ion-label>My Classes</ion-label>
      </ion-item>

      <ion-item button class="app-sidebar__item" [class.app-sidebar__item--active]="activePage === 'settings'" (click)="goTo('/teacher-settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>

      <div class="app-sidebar__spacer"></div>

      <ion-item button class="app-sidebar__item app-sidebar__item--logout" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
